*{

    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;

}
html{

    scroll-behavior:smooth;

}

body{
    background: #000;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background: url('../assets/books.jpg');
    background-size: cover;
    background-position: center;
    z-index: 99999;
}

.container{
    padding: 10px 4%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
   content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -3px;
    transition-duration:0.5s;
    transition-timing-function: cubic-bezier(0.1, 0.7, 0.4, 1);  
}
nav ul li a:hover::after{
    width: 100%;
    background: rgb(134, 134, 232);
  
}
.header-text{
    margin-top: 10%;
    font-size: 25px;
}
.header-text button{
    margin-top: 2%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
}
.header-text h1{
font-size: 60px;
margin-top: 8px;
}
 span{
    color: #ff004f;
}
.fa-user{
    margin-right: 22px;
}
button{
    padding: 10px;   
    border-radius: 5px;
    background: #ff004f;
    color:#ffff;
    transition:  0.1s linear;
}
button:hover{
    cursor: pointer;
    box-shadow: rgb(136 23 57 / 98%) 0px 0px 40px 8px;
    translate: -2px -2px;
    
}


/* services */

.subcont{
    /* border: 2px solid red; */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 16px;
}

.service-list{
    width: 100%;
    /* border: 2px solid red;  */
    overflow: hidden;
}
#item1bag{
    height: 100%;
    width: 100%;
    position: relative;
    right: -21%;
    /* border: 2px solid red; */
    z-index: 10;
}
.item-1{
    height: 110vh;
    width: 100%;
    background-color: #262626;
    background: linear-gradient(0deg, rgb(60, 60, 109), rgb(4, 4, 4));;
}
.item-1 h1{
    position: relative;
    top: -80%;
    left: 15%;
    font-size: 140px;
    z-index: 9;
}
#item1-2bag{
    display: none;
}
.item-1 p{
    position: relative;
    top: -80%;
    left: 20%;
    z-index: 9;
    width: 25%;
    text-align:justify;
}
.gap{
    height: 30vh;
    background: rgb(8, 8, 61);
}
.img1{
    height: 13em;
    width: 15em;
    background-color: #000000;
    /* border: 2px solid red; */
}

#img-1{
    position: relative;
    left: 45%;
    top: -50%;
    width: 290px;
    height: 200px;
    z-index: 1;
    background: url("../assets/book-1052014_1920.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;


}
#img-2{
    position: relative;
   
    left:40%;
    top: -90%;
    width: 250px;
    height: 190px;
    z-index: 3;
    background: url("../assets/bible-1868070_1920.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;

}
#img-3{
    position: relative;
    left:28%;
    top: -150%;
    width: 350px;
    height: 200px;
    z-index: 2;
    background: url("../assets/bible-1846174_1920.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
opacity: 0;

}

.item-2{
    display: flex;
    height: 110vh;
    width: 100%;
    background-image: url("../assets/Background.png");
    background-size: 100% 110vh;
    background-repeat: no-repeat;
    overflow: visible;
    position: relative;
    
}

.item-2 h1{
    position: relative;
    top: 50%;
    left:-50%;
    width: 12em;
    height: 1.5em;
   font-size: 7em;
   line-height: 0.91em;
   box-shadow: #000;
   opacity: 1;
   /* border: 2px solid red; */
}
.item-2-img{
    position:relative;
    right: 0;
    z-index: 10;
    display: block;
    width: 100%;
    height: 110vh;
    margin-right: auto;
    margin-left: auto;
    opacity: 1;

}
.item-2-text{
    position: absolute;
    display: block;
    top: 85%;
    left:65%;
    width: 15em;
    height: 15em;
    text-align: justify;
    text-overflow: ellipsis;
    /* border: 2px solid red; */
    z-index: 100;
   background-color:white ;
   color: #000;
   padding: 1em;
}



.item-3{
    display: flex;
    height: 110vh;
    width: 100vw;
    background: linear-gradient(180deg, rgb(76, 81, 132), rgb(4, 4, 4));;
    background-size: 100% 110vh;
    background-repeat: no-repeat;
    overflow: visible;
    padding: 5%;
    position: relative;
}

.item-3 h1{
    font-size: 10em;
    display: block;
    width: 100%;
    align-items: center;
    align-self: center;
    line-height: 1em;
}

.rotate {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  
.card {
    height: 60%;
    width: 60%;
    position: relative;
    top: 40%;
    transition: transform 1500ms;
    transform-style: preserve-3d;
   
  }
  .card h1{
    font-size: 4em;
    text-align: center;
   
  }
  .card p{
    padding: 0px 60px ;
    text-align:justify;
    justify-content: center;
    

  }
  .front,
  .back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
  
  }
  
  .front {
    /* background-image: url(https://source.unsplash.com/random/1300x1200/?discussion); */
    background-image: url(../assets/139.jpg);
    background-size: 100% 100%;
  }
  
  .back {
    background:linear-gradient(45deg, rgb(76, 81, 132), rgb(36, 13, 13));;
    /* background-color: #262626; */
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }





#services{
    padding: 30px 10px;

}



.fa-note-sticky{
   /* color: #ff004f; */
   font-weight: 300;
   font-size: 50px;
}


.sub-title{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', Charcoal, sans-serif;
    line-height: 1;
    color: #ff8a8a;
    font-size: 25px;
   letter-spacing: 4px;
    font-style: normal;
    text-transform: uppercase;
}
.sub-para{
    width: 40%;
    text-align: justify;
 
}



/* ---------------- */
/* contact */
#contact{
    /* overflow: visible; */
 
    width: 100%;
}
#contact h1{
   font-size: 3.5em;
}
.contact-left{
    flex-basis: 35%;
    
}
.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin: 20px 0;
}
.contact-left p a{
   text-decoration: none;
   color: #ffff;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icon {
    margin-top: 30px;

}
.social-icon a{
    margin-right: 15px;
    text-decoration: none;
    font-size: 30px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;

}
.social-icon a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background-color: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
     border: 0;
     outline: none;
     background: #262626;
     padding: 15px;
     margin: 15px 0;
     color: #ffff;
     font-size: 18px;
     border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* -----------------------about us----------------------- */
#about-us{
    width: 100%;
    overflow: hidden;
    margin-top: 5em;
}
#about-us h1{
        font-size: 3.5em;
}



.devs-img{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 4.1em;
    margin-top: 3em; 
    margin-right: 3em;
   
}
.dev{
    /* border: 2px solid red; */
    height: 17em;
    width: 17em;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
   
}

.dev img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #fff;
}
.layer p{
    color: #fff;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.dev:hover img{
    transform: scale(1.1);
   
}
.dev:hover .layer{
    height: 100%;
}
.dev:hover{
    box-shadow:0px 0px 20px 1px #c92828;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background-color: #262626;
    font-weight: 300;
    margin-top: 20px;
}


/* ----------------------------------------------------- */
/* ------------------Media queries -------------- */
/* ------------------------------------------------------- */





nav .fas{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        background-image: url("../assets/home-phone.jpg"); 
        
    }
    .header-text {
        margin-top: 55%;
        font-size: 16px; 
        width: 60%;
    }
    .header-text button{
        margin-top: 40px;
    }
    .header-text h1{
        font-size: 35px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nva ul li{
        display: block;
        margin: 25px;
    
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    nav ul button{
        display: none;
    }
    /* ------------------service--------- */
   .subcont{
    height: 50vh;
    width: 100%;
   }
/* -------------------gap---------- */

.gap{
    height: 10vh;
}
.img1{
    display: none;
}
   /* -------------- */

   .item-3 h1{
    font-size: 4em;
   align-self:self-start;
   margin-top: 2em;
   }
   .item-3 p{
    font-size: 1em;
   margin-top:-12em;
right: 10%;
   width: 20em;
   height: 20em;
   }

   .item-2{
    background: url("../assets/desktop-phone.jpg");
    background-size: 100% 100%;
   }
   .item-2 img{
    display: none;
   }
   .item-2 h1{
   font-size: 3.5em;
   left: 40%;
   top: 60%;
   }
   .item-2-text{
    left: 20%;
   }
   #item1-2bag{
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    /* border: 2px solid red; */
    z-index: 10;
   
   }
   #item1bag{
    display: none;
   }
   .item-1{
    height: 80vh;
   }
   .item-1 h1{
    font-size: 5em;
   }
   .item-1 p{
    left: 40%;
    width: 20em;
    margin-top: 10em;
    
   }
   .card {
    height: 60%;
    width: 70%;
    left: 20%;
    position: absolute;
    top: 40%;
  }
   .card .back h1{
    position: relative;
    top: -20%;

   
  }
   .card .back p{
    position: relative;
    top: 10%;
    left: 1%;

   
  }

}

